a:link
{
	color: beige;
	text-decoration: none;
}

a:visited
{
		color: inherit;
		
}

a:hover
{
		color: inherit;
}

	

body
{
	background-color: beige;
	font-family: 'Open Sans Condensed', sans-serif;
}

#all
{
	background-color: beige;
}

.top
{
	height: 55px;
	background-color: #696969;
	
}

.social
{
	
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 35px;
}
	
.fb
{
	width: 55px;
	text-align: center;
	float: left;
	color: beige;
}

.fb:hover
{
	cursor: pointer;
	color: #3b5998;
}

.yt
{
	width: 55px;
	text-align: center;
	float: left;
	color: beige;
}

.yt:hover
{
	cursor: pointer;
	color: red;
	
}

.tw
{
	width: 55px;
	text-align: center;
	float: left;
	color: beige;
}

.tw:hover
{
	cursor: pointer;
	color:  #55acee;
	
}
.tel
{
	text-align: right;
	padding: 12px;
	float: right;
	color: beige;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 3px;
	}

.tel:hover
{
	color:orange;
	cursor: pointer;
}
	
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#topbar
{
	float: left;
}

#buttons
{
	width: 1000px;
	height: 55px;
	background: #696969;
	margin-left: auto;
	margin-right: auto;
}

.but2
{
	text-align: center;
	padding: 15px;
	float: left;
	color: beige;
	font-size: 19px;
	border-left: solid;
	border-right: solid;
	border-width: 2px;
	border-color: beige;
	letter-spacing: 1px;
	font-weight: bold;
	width: 216px;
}

.but2:hover
{
	color:orange;
	cursor: pointer;
}

.but2:visited
{
	color: blue;
	cursor: pointer;
}

.but1
{
	text-align: center;
	padding: 15px;
	float: left;
	color: beige;
	font-size: 19px;
	border-right: solid;
	border-left-width: 4px;
	border-color: beige;
	letter-spacing: 1px;
	font-weight: bold;
	width: 216px;
}

.but1:hover
{
	color:orange;
	cursor: pointer;
}

.but1:visited
{
	color: blue;
	cursor: pointer;
}

.but3
{
	text-align: center;
	padding: 15px;
	float: left;
	color: beige;
	font-size: 19px;
	border-color: beige;
	border-left: 4px solid;
	letter-spacing: 1px;
	font-weight: bold;
	width: 216px;
}

.but3:hover
{
	color: orange;
	cursor: pointer;
}

.red
{
	color: orange;
	
}
#realizacje
{
	width: 1000px;
	color: black;
	height: 200px;
	
}

.re2
{
	text-align: justify;
	padding: 10px;
	float: left;
	color: black;
	font-size: 16px;
	border: 2px beige;
	border-right-style: solid;
	border-left-style: solid;
	letter-spacing: 1px;
	width: 227px;
}

.re1
{
	text-align: justify;
	padding: 10px;
	float: left;
	color: black;
	font-size: 16px;
	border-right: solid;
	border-left-width: 4px;
	border-color: beige;
	letter-spacing: 1px;
	width: 227px;
}

.re3
{
	text-align: justify;
	padding: 10px;
	float: left;
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
	width: 227px;
}

.nag
{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	
}
.wstep
{
	text-align: justify;
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
}

#cv
{
		float: left;
		margin-left: 200px;
}
#danekontakt
{
	float: left;
	margin-left: 25px;
	margin-top: 20px;
	font-size: 22px;
	
}

.cvnag
{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
		margin-left: 200px;
}
.cvopis
{
	text-align: justify;
	color: black;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	
}
